
.profile-image img {
    width: 50%; /* Set the width of the image to 50% of its original size */
    height: auto; /* Maintain aspect ratio */
}


.custom-bg-color {
    background-color: #C3E1FF; /* Example background color */
}


.link-custom {
    display: inline-block;
    padding: 5px 5px;
    margin: 5px;
    color: #131F33;
    text-decoration: none;
    border: 1px solid #131F33;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

.link-custom:hover {
    background-color: #131F33;
    color: white;
}